
<h1>Nagano Cake</h1>
<p>ご利用ありがとうございます。こちらはスイーツ専門のサイトです。</p>
<p>ご利用には会員登録が必要です。</p>
<p>会員の方</p>
<div class="btn btn-info col-6 mb-5"> 
<%= link_to 'ログイン', new_user_session_path, class: "text-light"%>
</div>
<p>初めての方</p>
<div class="btn btn-success col-6  mb-5"> 
<%= link_to '新規登録', new_user_registration_path, class: "text-light" %>
</div>
